.search {
    text-align: center;
}

.items-list {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;

    list-style: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
