ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

.language button {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
